<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argentina</title>
    <link rel="icon" href="https://i.pinimg.com/originals/e5/80/b7/e580b745cecd0ee0ce9c87cbfc461d4c.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="argentina-page">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/inicio" title="Ir al inicio">
                <img src="https://toppng.com/uploads/small/117165997333yfm1ftauhxv3y66zxqvauohuvzwkx3l7pz7njckkjctifk67efujselxgbm5lrf1d1i3nu39c04d92iucvnzxpoh5pzu09jyus1.webp" alt="COPA AMERICA 2024">
            </a>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/selecciones" class="navbar-link">SELECCIONES</a></li>
            <li class="navbar-item"><a href="/jugadores" class="navbar-link">JUGADORES DESTACADOS</a></li>
            <li class="navbar-item"><a href="/resultados" class="navbar-link">RESULTADOS</a></li>
            <li class="navbar-item"><a href="/informacion" class="navbar-link">INFORMACIÓN</a></li>
        </ul>
    </nav>

    <!-- Contenedor principal de Argentina -->
    <div class="argentina-container">
        <div class="argentina-image">
            <img src="https://i.pinimg.com/736x/8a/ae/92/8aae92874ed8acc7210a488f810cf0c6.jpg" alt="Argentina">
        </div>
        
        <div class="argentina-title">
            <h1>Selección de fútbol de Argentina</h1>
        </div>

        <div class="argentina-content">
            <p><strong>País:</strong> Argentina</p>
            <p><strong>Ciudad de origen:</strong> Buenos Aires</p>
            <p><strong>Estadio:</strong> Estadio Mâs Monumental, Estadio Mario Alberto Kempes</p>
            <p><strong>Entrenador principal:</strong> Lionel Scaloni</p>
            <p><strong>Año de fundación:</strong> 1893</p>
            <p><strong>Colores del equipo:</strong> celeste, blanco, dorado</p>
            <p><strong>Liga en la que participa:</strong> Competiciones internacionales (Eliminatorias Copa del Mundo Conmebol, Copa Mundial de la FIFA, Conmebol Copa América, Copa de Campeones Conmebol-UEFA)</p>
            <p><strong>Posición actual en el Ranking Fifa:</strong> 1º</p>
            <p><strong>Partidos Jugados en la Liga de Naciones Actual:</strong> 6</p>
            <p><strong>Partidos Ganados en la Liga de Naciones Actual:</strong> 5</p>
            <p><strong>Partidos Perdidos en la Liga de Naciones Actual:</strong> 1</p>
            <p><strong>Partidos Empatados en la Liga de Naciones Actual:</strong> 0</p>
            <p><strong>Página Web Oficial:</strong> <a href="https://www.afa.com.ar" target="_blank">https://www.afa.com.ar</a></p>
        </div>
    </div>
</body>
</html>
