<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colombia</title>
    <link rel="icon" href="https://i.pinimg.com/originals/e5/80/b7/e580b745cecd0ee0ce9c87cbfc461d4c.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="colombia-page">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/inicio" title="Ir al inicio">
                <img src="https://toppng.com/uploads/small/117165997333yfm1ftauhxv3y66zxqvauohuvzwkx3l7pz7njckkjctifk67efujselxgbm5lrf1d1i3nu39c04d92iucvnzxpoh5pzu09jyus1.webp" alt="COPA AMERICA 2024">
            </a>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/selecciones" class="navbar-link">SELECCIONES</a></li>
            <li class="navbar-item"><a href="/jugadores" class="navbar-link">JUGADORES DESTACADOS</a></li>
            <li class="navbar-item"><a href="/resultados" class="navbar-link">RESULTADOS</a></li>
            <li class="navbar-item"><a href="/informacion" class="navbar-link">INFORMACIÓN</a></li>
        </ul>
    </nav>

    <!-- Contenedor principal de Colombia -->
    <div class="colombia-container">
        <div class="colombia-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrl-9tBx2yp6gRRcSiQrBsZZYzRSSWUDgHKA&s" alt="Colombia">
        </div>
        
        <div class="colombia-title">
            <h1>Selección de fútbol de Colombia</h1>
        </div>

        <div class="colombia-content">
            <p><strong>País:</strong> Colombia</p>
            <p><strong>Ciudad de origen:</strong> Bogotá</p>
            <p><strong>Estadio:</strong> Estadio Metropolitano, Barranquilla</p>
            <p><strong>Entrenador principal:</strong> Néstor Lorenzo</p>
            <p><strong>Año de fundación:</strong> 1924</p>
            <p><strong>Colores del equipo:</strong> Amarillo, azul, rojo</p>
            <p><strong>Liga en la que participa:</strong> Competiciones internacionales (Eliminatorias Copa del Mundo Conmebol, Conmebol Copa América)</p>
            <p><strong>Posición actual en el Ranking Fifa:</strong> 11º</p>
            <p><strong>Partidos Jugados en la Liga de Naciones Actual:</strong> 6</p>
            <p><strong>Partidos Ganados en la Liga de Naciones Actual:</strong> 3</p>
            <p><strong>Partidos Perdidos en la Liga de Naciones Actual:</strong> 0</p>
            <p><strong>Partidos Empatados en la Liga de Naciones Actual:</strong> 3</p>
            <p><strong>Página Web Oficial:</strong> <a href="https://www.fcf.com.co" target="_blank">https://www.fcf.com.co</a></p>
        </div>
    </div>
</body>
</html>
