<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores Destacados</title>
    <link rel="icon" href="https://i.pinimg.com/originals/e5/80/b7/e580b745cecd0ee0ce9c87cbfc461d4c.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="jugadores-page">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/inicio" title="Ir al inicio">
                <img src="https://toppng.com/uploads/small/117165997333yfm1ftauhxv3y66zxqvauohuvzwkx3l7pz7njckkjctifk67efujselxgbm5lrf1d1i3nu39c04d92iucvnzxpoh5pzu09jyus1.webp" alt="COPA AMERICA 2024">
            </a>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/selecciones" class="navbar-link">SELECCIONES</a></li>
            <li class="navbar-item"><a href="/jugadores" class="navbar-link">JUGADORES DESTACADOS</a></li>
            <li class="navbar-item"><a href="/resultados" class="navbar-link">RESULTADOS</a></li>
            <li class="navbar-item"><a href="/users" class="navbar-link">USUARIOS</a></li>
        </ul>
    </nav>

    <!-- Contenedor de la tabla de jugadores -->
    <div class="jugadores-container">
        <div class="jugador-row">
            <a href="/messi" class="jugador-name">Lionel Messi</a>
            <div class="jugador-position">Delantero</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fargentina%2Fargentina-10.png&w=384&q=75" alt="Messi">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/vinicius" class="jugador-name">Vinicius Jr</a>
            <div class="jugador-position">Delantero</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fbrasil%2Fbrasil-07.png&w=384&q=75" alt="Vinicius Jr">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/valverde" class="jugador-name">Federico Valverde</a>
            <div class="jugador-position">Centrocampista</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Furuguay%2Furuguay-15.png&w=384&q=75" alt="Federico Valverde">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/james" class="jugador-name">James Rodríguez</a>
            <div class="jugador-position">Centrocampista</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fcolombia%2Fcolombia-10.png&w=384&q=75" alt="James Rodríguez">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/sanchez" class="jugador-name">Alexis Sánchez</a>
            <div class="jugador-position">Delantero</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fchile%2Fchile-10.png&w=384&q=75" alt="Alexis Sánchez">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/caicedo" class="jugador-name">Moisés Caicedo</a>
            <div class="jugador-position">Centrocampista</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fecuador%2Fecuador-23.png&w=384&q=75" alt="Moisés Caicedo">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/pulisic" class="jugador-name">Christian Pulisic</a>
            <div class="jugador-position">Delantero</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Festados-unidos%2Festados-unidos-10.png&w=384&q=75" alt="Pulisic">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/davies" class="jugador-name">Alphonso Davies</a>
            <div class="jugador-position">Defensor</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fcanada%2Fcanada-19.png&w=384&q=75" alt="Alphonso Davies">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/alvarez" class="jugador-name">Edson Álvarez</a>
            <div class="jugador-position">Defensor</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fmexico%2Fmexico-04.png&w=384&q=75" alt="Edson Álvarez">
            </div>
        </div>
        <div class="jugador-row">
            <a href="/soteldo" class="jugador-name">Yeferson Soteldo</a>
            <div class="jugador-position">Delantero</div>
            <div class="jugador-image">
                <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fvenezuela%2Fvenezuela-10.png&w=384&q=75" alt="Soteldo">
            </div>
        </div>
    </div>
</body>
</html>
