<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lionel Messi</title>
    <link rel="icon" href="https://i.pinimg.com/originals/e5/80/b7/e580b745cecd0ee0ce9c87cbfc461d4c.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="player-page">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/inicio" title="Ir al inicio">
                <img src="https://toppng.com/uploads/small/117165997333yfm1ftauhxv3y66zxqvauohuvzwkx3l7pz7njckkjctifk67efujselxgbm5lrf1d1i3nu39c04d92iucvnzxpoh5pzu09jyus1.webp" alt="COPA AMERICA 2024">
            </a>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/selecciones" class="navbar-link">SELECCIONES</a></li>
            <li class="navbar-item"><a href="/jugadores" class="navbar-link">JUGADORES DESTACADOS</a></li>
            <li class="navbar-item"><a href="/resultados" class="navbar-link">RESULTADOS</a></li>
            <li class="navbar-item"><a href="/informacion" class="navbar-link">INFORMACIÓN</a></li>
        </ul>
    </nav>

    <!-- Contenedor principal del jugador -->
    <div class="player-container">
        <div class="player-image">
            <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Fargentina%2Fargentina-10.png&w=384&q=75" alt="Lionel Messi">
        </div>

        <div class="player-title">
            <h1>Lionel Messi</h1>
        </div>

        <div class="player-content">
            <p><strong>Nombre Completo:</strong> Lionel Messi</p>
            <p><strong>Edad:</strong> 37</p>
            <p><strong>Nacionalidad:</strong> Argentina</p>
            <p><strong>Posición:</strong> Delantero</p>
            <p><strong>Número de Camiseta:</strong> 10</p>
            <p><strong>Equipo Actual:</strong> Inter Miami</p>
            <p><strong>Partidos Jugados en la Temporada Actual:</strong> 25</p>
            <p><strong>Goles Marcados en la Temporada Actual:</strong> 18</p>
            <p><strong>Asistencias en la Temporada Actual:</strong> 10</p>
            <p><strong>Tarjetas Amarillas:</strong> 2</p>
            <p><strong>Tarjetas Rojas:</strong> 0</p>
            <p><strong>Altura:</strong> 1.70 m</p>
            <p><strong>Peso:</strong> 72 kg</p>
            <p><strong>Pie Dominante:</strong> Izquierdo</p>
            <p><strong>Fecha de Nacimiento:</strong> 24 de junio de 1987</p>
            <p><strong>Historial de Equipos Anteriores:</strong> FC Barcelona, PSG</p>
            <p><strong>Estadísticas de Carrera:</strong> Goles Totales: 750, Asistencias Totales: 300, Partidos Totales: 850</p>
            <p><strong>Lesiones Recientes:</strong> Ninguna</p>
            <p><strong>Redes Sociales:</strong> @leomessi</p>
        </div>
    </div>
</body>
</html>
