<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciones</title>
    <link rel="icon" href="https://i.pinimg.com/originals/e5/80/b7/e580b745cecd0ee0ce9c87cbfc461d4c.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="selecciones-page">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/inicio" title="Ir al inicio">
                <img src="https://toppng.com/uploads/small/117165997333yfm1ftauhxv3y66zxqvauohuvzwkx3l7pz7njckkjctifk67efujselxgbm5lrf1d1i3nu39c04d92iucvnzxpoh5pzu09jyus1.webp" alt="COPA AMERICA 2024">
            </a>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/selecciones" class="navbar-link">SELECCIONES</a></li>
            <li class="navbar-item"><a href="/jugadores" class="navbar-link">JUGADORES DESTACADOS</a></li>
            <li class="navbar-item"><a href="/resultados" class="navbar-link">RESULTADOS</a></li>
            <li class="navbar-item"><a href="/users" class="navbar-link">USUARIOS</a></li>
        </ul>
    </nav>

    <div class="contenedor-items">
        <div class="item">
            <a href="/argentina" title="Ver detalles de Argentina" class="info-seleccion">
                <figure>
                    <img src="https://static.vecteezy.com/system/resources/previews/022/110/107/original/argentina-flag-round-shape-png.png" alt="Argentina">
                    <figcaption>Argentina</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="/brasil" title="Ver detalles de Brasil" class="info-seleccion">
                <figure>
                    <img src="https://static.vecteezy.com/system/resources/previews/011/571/240/non_2x/circle-flag-of-brazil-free-png.png" alt="Brasil">
                    <figcaption>Brasil</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="/uruguay" title="Ver detalles de Uruguay" class="info-seleccion">
                <figure>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhoADtUhyKAbdEma5HB-pWY1mM3PWsyd4M3g&s" alt="Uruguay">
                    <figcaption>Uruguay</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="/chile" title="Ver detalles de Chile" class="info-seleccion">
                <figure>
                    <img src="https://static.vecteezy.com/system/resources/previews/011/571/476/original/circle-flag-of-chile-free-png.png" alt="Chile">
                    <figcaption>Chile</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="/colombia" title="Ver detalles de Colombia" class="info-seleccion">
                <figure>
                    <img src="https://static.vecteezy.com/system/resources/previews/016/328/874/non_2x/colombia-flat-rounded-flag-with-transparent-background-free-png.png" alt="Colombia">
                    <figcaption>Colombia</figcaption>
                </figure>
            </a>
        </div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/016/328/590/original/paraguay-flat-rounded-flag-icon-with-transparent-background-free-png.png" alt="seleccion"><figcaption>Paraguay</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/016/328/912/original/peru-flat-rounded-flag-icon-with-transparent-background-free-png.png" alt="seleccion"><figcaption>Perú</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/011/571/444/non_2x/circle-flag-of-venezuela-free-png.png" alt="seleccion"><figcaption>Venezuela</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/016/328/878/non_2x/ecuador-flat-rounded-flag-with-transparent-background-free-png.png" alt="seleccion"><figcaption>Ecuador</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/016/328/565/non_2x/bolivia-flat-rounded-flag-with-transparent-background-free-png.png" alt="seleccion"><figcaption>Bolivia</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/013/743/592/original/united-states-flag-round-icon-american-flag-png.png" alt="seleccion"><figcaption>Estados Unidos</figcaption></figure></div>
        <div class="item"><figure><img src="https://w7.pngwing.com/pngs/632/422/png-transparent-flag-of-mexico-mexico-national-football-team-gallery-of-sovereign-state-flags-flag-miscellaneous-flag-logo-thumbnail.png" alt="seleccion"><figcaption>Mexico</figcaption></figure></div>
        <div class="item"><figure><img src="https://cdn-icons-png.flaticon.com/512/197/197430.png" alt="seleccion"><figcaption>Canada</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/014/635/903/original/round-flag-of-costa-rica-illustration-vector.jpg" alt="seleccion"><figcaption>Costa Rica</figcaption></figure></div>
        <div class="item"><figure><img src="https://static.vecteezy.com/system/resources/previews/011/571/437/non_2x/circle-flag-of-jamaica-free-png.png" alt="seleccion"><figcaption>Jamaica</figcaption></figure></div>
        <div class="item"><figure><img src="https://w1.pngwing.com/pngs/413/232/png-transparent-flag-panama-flag-of-panama-national-flag-line-area-logo-circle.png" alt="seleccion"><figcaption>Panama</figcaption></figure></div>
    </div>
</body>
</html>
