<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Federico Valverde</title>
    <link rel="icon" href="https://i.pinimg.com/originals/e5/80/b7/e580b745cecd0ee0ce9c87cbfc461d4c.png">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="player-page">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/inicio" title="Ir al inicio">
                <img src="https://toppng.com/uploads/small/117165997333yfm1ftauhxv3y66zxqvauohuvzwkx3l7pz7njckkjctifk67efujselxgbm5lrf1d1i3nu39c04d92iucvnzxpoh5pzu09jyus1.webp" alt="COPA AMERICA 2024">
            </a>
        </div>
        <ul class="navbar-links">
            <li class="navbar-item"><a href="/selecciones" class="navbar-link">SELECCIONES</a></li>
            <li class="navbar-item"><a href="/jugadores" class="navbar-link">JUGADORES DESTACADOS</a></li>
            <li class="navbar-item"><a href="/resultados" class="navbar-link">RESULTADOS</a></li>
            <li class="navbar-item"><a href="/informacion" class="navbar-link">INFORMACIÓN</a></li>
        </ul>
    </nav>

    <!-- Contenedor principal del jugador -->
    <div class="player-container">
        <div class="player-image">
            <img src="https://copaamerica.com/_next/image?url=%2Fplayers%2Furuguay%2Furuguay-15.png&w=384&q=75" alt="Federico Valverde">
        </div>

        <div class="player-title">
            <h1>Federico Valverde</h1>
        </div>

        <div class="player-content">
            <p><strong>Nombre Completo:</strong> Federico Valverde</p>
            <p><strong>Edad:</strong> 26</p>
            <p><strong>Nacionalidad:</strong> Uruguay</p>
            <p><strong>Posición:</strong> Centrocampista</p>
            <p><strong>Número de Camiseta:</strong> 15</p>
            <p><strong>Equipo Actual:</strong> Real Madrid</p>
            <p><strong>Partidos Jugados en la Temporada Actual:</strong> 28</p>
            <p><strong>Goles Marcados en la Temporada Actual:</strong> 7</p>
            <p><strong>Asistencias en la Temporada Actual:</strong> 9</p>
            <p><strong>Tarjetas Amarillas:</strong> 4</p>
            <p><strong>Tarjetas Rojas:</strong> 0</p>
            <p><strong>Altura:</strong> 1.82 m</p>
            <p><strong>Peso:</strong> 79 kg</p>
            <p><strong>Pie Dominante:</strong> Derecho</p>
            <p><strong>Fecha de Nacimiento:</strong> 22 de julio de 1998</p>
            <p><strong>Historial de Equipos Anteriores:</strong> Peñarol</p>
            <p><strong>Estadísticas de Carrera:</strong> Goles Totales: 50, Asistencias Totales: 30, Partidos Totales: 200</p>
            <p><strong>Lesiones Recientes:</strong> Ninguna</p>
            <p><strong>Redes Sociales:</strong> @fedeevalverde</p>
        </div>
    </div>
</body>
</html>
